<h1>Listing Admins</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.name %></td>
    <td><%= admin.email %></td>
    <td><%= link_to 'Show', admin %></td>
    <td><%= link_to 'Edit', edit_admin_registration_path(admin)%></td>
  </tr>
<% end %>
</table>

<h1>Popular Images</h1> <!--Need to qualify for responded images -->
<h2>Images that are popular but have no responses</h2>
      <% @images.each do |img| %>
        <img class="item" href= "<%=  %>" src="<%= img.url %>" width = "100" height = "100" />
      <%end%>

<h1>Trending Images</h1>
<h2>All time most popular Images</h2>
      <% @images.each do |img| %>
        <img class="item" href= "<%=  %>" src="<%= img.url %>" width = "100" height = "100" />
      <%end%>

<h1>Recent Questions</h1>
<h2>Recent posts about images that have not yet been answered</h2>
      <% @images.each do |img| %>
        <img class="item" href= "<%=  %>" src="<%= img.url %>" width = "100" height = "100" />
      <%end%>

<br />