<div class="AdminNewPage">
	<h2 class="adminPageTitle">Create New Admin
	</h2>
	<div class="newAdminIndent">
	</br>
		<%= form_for(@admin, :url => url_for(:controller => 'admins', :action => 'create')) do |f| %>
		<div><%= f.label :name %>:&nbsp;&nbsp;
			<%= f.text_field :name, :autofocus => true %>
		</div>
		<div><%= f.label :email %>:&nbsp;&nbsp;
			<%= f.email_field :email, :autofocus => true %>
		</div>
		<div><%= f.label :password %>:&nbsp;&nbsp;
			<%= f.password_field :password %>
		</div>
		<div><%= f.label :password_confirmation %>:&nbsp;&nbsp;
			<%= f.password_field :password_confirmation %>
		</div>
		<br/>
<%= f.submit "Sign up" %>
		</div>
		<% end %>

	</div>