<div class="recentResponsesContainer" id="recentResponsesContainer">
	<div id ="ourRecentResponses" class ="recentResponses">
		<div class="CoverFlowTitle">Recent Stories</div>
		<% @latestResponses = Response.order('created_at DESC').all %>
		<% @latestResponses.each do |response| %>
		<% @image = response.image %>
		<div class="newstickerInfo">
			<a href="<%= album_image_path(@image.album, @image) %>">
				<img src="<%= @image.urlList %>" width="200px" height="160" hspace="0" vspace="0" class="newsticker_image"/>
			</a>

			<br />
			<div>The Title<%#= response.title %></div>
			<br />
			<div class="source">Source: Jet Propulsion Laboratory</div>
			<br />
			<div class="date"><%= response.created_at %></div>
			<br />
			<textarea class="responseTextarea"><%= response.body %></textarea>
		</div>

		<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <![endif]-->
  <video width="640" height="360" poster="/assets/JPLogoSmall.jpg" controls="controls">
  	<source src="<%=response.url%>"/>
  		<!--<source src="path/to/your/movie.ogv" />-->
  		To view this video you need the latest version of <a href="http://www.apple.com/safari/">Safari</a>, <a href="http://www.mozilla.com/firefox/">Firefox</a> or <a href="http://www.google.com/chrome">Chrome</a>. Alterantively download the videos and watch them offline. <a href="<%=response.url%>">Windows / Mac (mp4)</a>, <!--<a href="path/to/your/movie.ogv">Linux (ogv)</a>-->
  	</video>
<!--[if IE]>
<script type="text/javascript">

  var flashvars = {};
  var params = {
      allowscriptaccess: "true",
      file:"../video/mov/movie.mov"
  };
  var attributes = {};

  swfobject.embedSWF("swf/player.swf", "player", "640", "480", "9.0.0", flashvars, params, attributes);

</script>
<![endif]-->
		<br />
		<br />
		<br />
		<br />
		<br />
		<hr />
		<br />
		<br />
		<% end %>

	</div>
</div>
