<h1> listing images </h1>
<p><%= link_to "New Image", new_album_image_path(@album)%></p>
<p><%= link_to "Delete Album", album_path, :method => "delete"%></p>
<script language="JavaScript" type="text/javascript" src="assets/contentflow.js"></script>

  <div class="ContentFlow">
    <div class="loadIndicator"><div class="indicator"></div></div>
    <div class="flow">
      <% @images.find_in_batches do |img| %>
			<% sleep 1.5 %>
			<% img.each do |image|%>
				<img class="item" href= "<%= album_image_path(@album, image)%>" src="<%= image.url %>" title="<%= image.id %>"/>
			<% end %>
      <% end %>
    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
  </div>

