
<%= image_tag(@image.urlList, :size => "980x500")%>

<p>
  <b>Score:</b>
  <%= @votes.count%>
</p>

<h2>Questions:</h2>
<%if @comments.empty?%>
	<p>There are no Questions for this image.</p>
<%else%>
	<%@comments.each do |comment|%>
	<p>Comment from <%= comment.user.name%>: <%= comment.body%></p>
	<%end%>
<%end%>

<h1>Respond</h1>

<%= form_for(@newresponse, remote: true) do |f| %>
	<div><%= f.label "URL" %><br />
		<%= f.text_area :url, :size => "100x1"%></div>
	<div><%= f.label "Body" %><br />
		<%= f.text_area :body, :size => "100x10"%></div>
	<%= f.hidden_field :image_id, :value => @image.id %>
	<%= f.hidden_field :admin_id, :value => current_admin.id%>
	<div><%= f.submit "Respond" %></div>
<%end%>

<h2>Previous Responses:</h2>
<ul id="adminresp">
	<%= render 'responses/response'%>
</ul>