<h1>Listing images</h1>

<h1>S@#% just got real</h1>

<script language="JavaScript" type="text/javascript" src="assets/contentflow.js"></script>


  <div class="ContentFlow">
    <div class="loadIndicator"><div class="indicator"></div></div>
    <div class="flow">
      <% @img = Image.where(:sol => 48) %>
      <% @img.each do |image| %>
        <img class="item" src="<%= image.url %>" title="<%= image.sol %>"/>
      <% end %>
    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
  </div>

<table>
  <tr>
    <th>Url</th>
    <th>Sol</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.url %></td>
    <td><%= image.sol %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
