 <img width = "800" height= "450" src="<%= @image.urlList %>" align = "middle" />
<p>
  <b>Sol:</b>
  <%= @image.sol %>
</p>

<p>
  <b>URL:</b>
  <%= @image.urlList %>
</p>

<ul id = "votes ">
<b>Score:</b>
  <%= @votes.count %>
</ul>

<%if @vote.nil?%>
	<%= form_for(@newvote, remote: true) do |f| %>
		<%= f.hidden_field :image_id, :value => @image.id %>
		<%= f.hidden_field :user_id, :value => @user.id %>
		<div><%= f.submit "Vote for Image" %></div>
	<% end %>
<%else%>
	<%= "Already Voted for this image." %>	
<%end%>

<h2>Your Questions</h2>

<%if @comments.empty?%>
		<p>You have asked no Questions.</p>
<%else%>
<ul id="comments">
	<%@comments.each do |comment|%>
		<%= render comment %>
	<%end%>
<%end%>
</ul>

	<h2>Ask a Question:</h2>
	<%= form_for(@comment, remote: true) do |f| %>
  		<%= f.text_field :body, :autofocus => true %>
		<%= f.hidden_field :image_id, :value => @image.id%>
		<%= f.hidden_field :user_id, :value => @user.id%>
		<div><%= f.submit "Submit Question" %></div>
	<% end %>	
 <h2>Responses:</h2>
 <%if @responses.empty?%>
		<p>There are no responses.</p>
	<%else%>
		<%@responses.each do |response|%>
		<p>Response from <%= response.admin.name%>: <%= response.body%></p>
		<%end%>
	<%end%>
	<div id="taglist"> 
	    <span class="tagtitle">List of Tags</span> 
	    <ol> 
	    </ol> 
	  </div>
 </body>
</html>
