<script type="text/javascript" src="/assets/ContentFlowAddOn_white.js"></script>
<p id="notice"><%= notice %></p>
  <img width = "990" height= "500" src="<%= @image.urlList %>" align = "middle" />
<p>
  <b>Sol:</b>
  <%= @image.sol %>
</p>

<p>
  <b>URL:</b>
  <%= @image.urlList %>
</p>

<p>
  <b>Score:</b>
  <%= @votes.count%>
</p>


<%if @vote.nil?%>
	<%= form_for(@newvote) do |f| %>
		<%= f.hidden_field :image_id, :value => @image.id %>
		<%= f.hidden_field :user_id, :value => @user.id %>
		<div><%= f.submit "Vote for Image" %></div>
	<% end %>
<%else%>
	<%= "Already Voted for this image." %>	
<%end%>

<h2>Your Questions</h2>

<%if @comments.empty?%>
		<p>You have asked no Questions.</p>
<%else%>
	<%@comments.each do |comment|%>
	<p>Comment <%= comment.id%>: <%= comment.body%></p>
	<%end%>
<%end%>

	
<h2>Ask a Question:</h2>
<%= form_for(@comment) do |f| %>
	<%= f.text_field :body, :autofocus => true %></div>
	<%= f.hidden_field :image_id, :value => @image.id%>
	<%= f.hidden_field :user_id, :value => @user.id%>
	<div><%= f.submit "Submit Question" %></div>
<% end %>
 
 <h2>Responses:</h2>
 <%if @responses.empty?%>
		<p>There are no responses.</p>
	<%else%>
		<%@responses.each do |response|%>
			<p>Response from <%= response.admin.name%>: <%= response.body%></p>
			<%if response.url != nil%>
				<video class="centre" id="sampleMovie" width=640 height=360 preload controls>
					<source src=<%=response.url%> type='video/ogg; codecs="theora, vorbis"' />
				</video>
			<%end%>
		<%end%>
	<%end%>
 
<br />
<!--div id="comments-container">
  <%#= render :partial => @comments %>
</div-->

<!--%= link_to 'Edit', edit_album_image_path(@image) %> |
<!--%= link_to 'Back', album_images_path %-->

