<script type="text/javascript" src="/assets/ContentFlowAddOn_white.js"></script>
<p id="notice"><%= notice %></p>
  <img width = "990" height= "500" src="<%= @image.urlList %>" align = "middle" />
<p>
  <b>Sol:</b>
  <%= @image.sol %>
</p>

<p>
  <b>URL:</b>
  <%= @image.urlList %>
</p>

<p>
  <b>Score:</b>
  <%= @votes.count%>
</p>

<%if admin_signed_in?%>
	<h2>Questions:</h2>
	<%if @comments.empty?%>
			<p>There are no Questions for this image.</p>
	<%else%>
		<%@comments.each do |comment|%>
		<p>Comment from <%= comment.user.name%>: <%= comment.body%></p>
		<%end%>
	<%end%>

	<h1>Respond</h1>

	<%= form_for(@newresponse) do |f| %>
	<div><%= f.label :body %><br />
	<%= f.text_area :body, :size => "100x10"%></div>
	<%= f.hidden_field :image_id, :value => @image.id%>
	<%= f.hidden_field :admin_id, :value => current_admin.id%>
	<div><%= f.submit "Respond" %></div>

<% end %>
<%else%>
	<%if @vote.nil?%>
		<%= form_for(@newvote) do |f| %>
			<%= f.hidden_field :image_id, :value => @image.id %>
			<%= f.hidden_field :user_id, :value => @user.id %>
			<div><%= f.submit "Vote for Image" %></div>
		<% end %>
	<%else%>
		<%= "Already Voted for this image." %>	
	<%end%>

	<h2>Your Questions</h2>

	<%if @comments.empty?%>
			<p>You have asked no Questions.</p>
	<%else%>
		<%@comments.each do |comment|%>
		<p>Comment <%= comment.id%>: <%= comment.body%></p>
		<%end%>
	<%end%>

	
		<h2>Ask a Question:</h2>
		<%= form_for(@comment) do |f| %>
	  		<%= f.text_field :body, :autofocus => true %></div>
			<%= f.hidden_field :image_id, :value => @image.id%>
			<%= f.hidden_field :user_id, :value => @user.id%>
			<div><%= f.submit "Submit Question" %></div>
		<% end %>
	
<%end%>
 
 <h2>Responses:</h2>
 <%if @responses.empty?%>
		<p>There are no responses.</p>
	<%else%>
		<%@responses.each do |response|%>
		<p>Response from <%= response.admin.name%>: <%= response.body%></p>
		<%end%>
	<%end%>
 
<br />
<!--div id="comments-container">
  <%#= render :partial => @comments %>
</div-->

<!--%= link_to 'Edit', edit_album_image_path(@image) %> |
<!--%= link_to 'Back', album_images_path %-->

