<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <img width="25%" height="25%" src="<%= @image.url %>" />
</p>

<p>
  <b>Sol:</b>
  <%= @image.sol %>
</p>

<p>
  <b>URL:</b>
  <%= @image.url %>
</p>

<p>Score: <%= @image.score%></p>

<%if Vote.where(:user => @data, :image_id => @image.id).empty?%>
	<%= form_for(@vote) do |f| %>
		<%= f.hidden_field :image_id, :value => @image.id%>
	  	<div><%= f.submit "Vote for Image" %></div>
	<% end %>
<%else%>
	<p>Already Voted for this Image</p>	
<%end%>

<h2>Your Questions</h2>

<%if @comments.empty?%>
	<%if current_user%>
		<p>You have asked no Questions.</p>
	<%end%>
<%else%>
	<%@comments.each do |comment|%>
	<p>Comment <%= comment.id%>: <%= comment.body%></p>
	<%end%>
<%end%>

<%if current_user%>

<h2>Ask a Question:</h2>
<%= form_for(@comment) do |f| %>
  	<%= f.text_field :body, :autofocus => true %></div>

	<%= f.hidden_field :image_id, :value => @image.id%>
	<div><%= f.submit "Submit Question" %></div>
<% end %>


<%else%>
<p>You must <%= link_to "Sign In", new_user_session_path%> to add a comment.</p>
<%end%>
 
<br />

<%= link_to 'Edit', edit_album_image_path(@image) %> |
<%= link_to 'Back', album_images_path %>

