<p id="notice"><%= notice %></p>
<p>
  <img width = "978" height= "500" src="<%= @image.url %>" />
</p>

<p>
  <b>Sol:</b>
  <%= @image.sol %>
</p>

<p>
  <b>URL:</b>
  <%= @image.url %>
</p>

<p>
  <b>Score:</b>
  <%= @votes.count%>
</p>

<%if @vote.nil?%>
	<%= form_for(@newvote, :remote => true) do |f| %>
		<%= f.hidden_field :image_id, :value => @image.id %>
		<%= f.hidden_field :user_id, :value => @user.id %>
		<div class = "actions">
		<%= f.submit "Vote for Image" %> </div>
	<% end %>
<%else%>
	<%= "Already Voted for this image." %>	
<%end%>


<%if admin_signed_in?%>
 <!-- if response . nill -->

<p>
<b>Respond To Image</b> 
</p>


        <%= form_for(@newresponse, :remote => true) do |f| %>
                <div class="field">
                <%= f.text_field :body, :autofocus => true %>
                <%= f.hidden_field :image_id, :value => @image.id%>
                <%= f.hidden_field :admin_id, :value => @user.id%></div>
                <div class = "actions"><%= f.submit "Submit Response" %></div>
        <% end %>
<%end%>

<%if @comments.empty?%>
	<%if current_user%>
		<p>You have asked no Questions.</p>
	<%end%>
<%else%>
	<%@comments.each do |comment|%>
	<p>Comment <%= comment.id%>: <%= comment.body%></p>
	<%end%>
<%end%>
<%if admin_signed_in?%>
  <%if @comments.empty?%>
    <p>There are no questions for this image.</p>
  <%else%>
    <%@comments.each do |comment|%>
      <p><%=comment.user.name%></p>
      <p><%=comment.body%></p>
      <p><%=link_to 'Repond', new_response_path%></p>
      <p></p>
    <%end%>
  <%end%>
<%else%>
<h2>Ask a Question:</h2>
<div id="new_comment">
	<%= form_for(@comment, :remote => true) do |f| %>
		<div class="field">
  		<%= f.text_field :body, :autofocus => true %>
		<%= f.hidden_field :image_id, :value => @image.id%>
		<%= f.hidden_field :user_id, :value => @user.id%></div>
		<div class = "actions"><%= f.submit "Submit Question" %></div>
	<% end %>
<%end%>
</div>
<!--div id="comments-container">
  <%#= render :partial => @comments %>
</div-->
 
<br />

<!--%= link_to 'Edit', edit_album_image_path(@image) %> |
<!--%= link_to 'Back', album_images_path %-->

