<% if admin_signed_in? %>
<a href="<%=admins_path%>" class="middlenav">Signed in as Administrator</a> |
<a href="<%=destroy_admin_session_path%>" class="middlenav">Sign Out</a>
<% elsif user_signed_in? %>
<a href="<%=user_path(current_user)%>">Signed in as <%= current_user.name %> </a> |
<a href="<%=destroy_user_session_path%>" class="middlenav">Sign Out</a>
<% else %>
<a class="middlenav">Signed in as Guest</a> |
<a href="<%=new_user_session_path%>" class="middlenav">Sign In</a> |
<a href="<%=new_user_registration_path%>" class="middlenav">Sign Up</a>
<% end %>