<% if cookies[:user].blank? %>
  <%= render "layouts/loginprotect" %>
<% else %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Mars Exploration Program: What's New</title>
    <meta name="title" content="Mars Exploration Program: What's New">
    <meta name="creator" content="JPL, NASA">
    <meta name="author" content="JPL, NASA">
    <meta name="keywords" content="Mars Exploration, Planet Mars, Mars Mission, Mars">
    <meta name="description" content="Exploration of the Planet Mars - missions, videos, images and information">
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <%= stylesheet_link_tag "application" %> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script> 
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=329186050540125";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> 
  </head>
  <body>
    <div class="page-container">
      <div class="nasa-logo-header">
        <a class="nasa-logo" href="http://nasa.gov">
          <img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/NASABannerTransparent.png" width="978" height="67" alt="NASA Banner" border="0" usemap="#nasabanner">
        </a>
        <div class="header-nav">
          <div class="breadcrumbs">
            <a href='#'>Like A Rock</a>&nbsp;&gt;&nbsp;
            <a href='#'><%= controller.controller_name.capitalize%></a>&nbsp;&gt;&nbsp;
            <a href='#'><%= controller.action_name.capitalize%></a>
          </div><!-- /breadcrumbs -->
          <div class="nav-user">
            <% if admin_signed_in? %>
              <a href="<%=admins_path%>">Signed in as Administrator</a> |
              <a href="<%=destroy_admin_session_path%>">Sign Out</a>
            <% elsif user_signed_in? %>
              <a href="<%=user_path(current_user)%>"><%= current_user.name %></a> |
              <a href="<%=destroy_user_session_path%>">Sign Out</a>
            <% else %>
              <a href="<%=new_user_session_path%>">Sign In</a> |
              <a href="<%=new_user_registration_path%>">Sign Up</a>
            <% end %>
            <br><br>
            <div class="fb-like" style="text-align: left;"data-href="http://www.AskCuriosity.com" data-send="true" data-layout="button_count" data-width="500" data-show-faces="true" data-font="verdana"></div>
          </div><!-- /nav-user -->
        </div><!-- /header-nav -->
      </div>

      <%= render "layouts/mars_banner" %>
      <h1 class="site-title">Like-A-Rock</h1>
      <div class="nav">
        <div class="nav-main">
          <a href="<%=root_path%>">Popular</a> |
		  <% unless admin_signed_in? %>
			<a href="<%=trending_album_path%>">Trending</a> |
			<a href="<%=comment_album_path%>">Most Commented</a> |
          	<a href="<%=albums_path%>">Albums By Day</a> |
		  	<a href="<%=sol_albums_path%>">Albums By Sol</a> |
       	  	<a href="<%=recent_album_path%>">Recent Responses</a> 
		  <% else %>
				<a href="<%=admins_path%>">Trending</a> |
			  	<a href="<%=sol_albums_path%>">Albums By Sol</a> 
		  <% end %>
 		  
        </div><!-- /mav-main -->
      </div><!-- /nav -->
      
      <div class="main-content le-yield">
      <div id="ourPageTitleBox" class="pageTitleBox"><%=@pageTitle%></div>
        <%= yield %>
      <%= render "responses/newsticker" %>
      <%= render "layouts/footer" %>
      </div><!-- /main-content -->
    </div> <!-- /page-container -->
  </body>
</html>
<% end %>
