<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Mars Exploration Program: What's New</title>
  <meta name="title" content="Mars Exploration Program: What's New">
  <meta name="creator" content="JPL, NASA">
  <meta name="author" content="JPL, NASA">
  <meta name="keywords" content="Mars Exploration, Planet Mars, Mars Mission, Mars">
  <meta name="description" content="Exploration of the Planet Mars - missions, videos, images and information">
  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body class="yui-skin-sam" onLoad="doActivateTopNav()" bgcolor = "#FFFFFF">
    <div align="center" id="contentBox">
      <div align="center" id="content">
        <div align="center" id="contentBlueOuter_contentPage">
          <a href="#maincontent"><img src="../../images/spacer.gif" alt="Follow this link to skip to the main content" width="1" height="1" hspace="0" vspace="0" border="0" align="left"></a>
          <map name="nasabanner">
            <area alt="National Aeronautics and Space Administration Logo" coords="0,0,275,65" href="http://www.nasa.gov">
          </map>
          <div id="top_jplBanner"><img src=" http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/NASABannerTransparent.png" width="978" height="67" alt="NASA Banner" border="0" usemap="#nasabanner"></div>
          <div id="top_marsBanner">
            <div class="MSLhome"><a href="http://mars.jpl.nasa.gov/"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/spacer.gif" width="1000" height="90" alt="Mars Exploration Program" title="Mars Exploration Program" border="0"></a></div>
            <div align="center" id="topSiteNavBox">
              <script language="JavaScript">
              <!--
              function newImage(arg) {
                if (document.images) {
                  rslt = new Image();
                  rslt.src = arg;
                  return rslt;
                }
              }
              function changeImages() {
                if (document.images && (preloadFlag == true)) {
                  for (var i=0; i<changeImages.arguments.length; i+=2) {
// document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
document.getElementById(changeImages.arguments[i]).src = changeImages.arguments[i+1];
}
}
}
var preloadFlag = false;
function preloadImages() {
  if (document.images) {
    navtop_home_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home_sel.png");
    navtop_mission_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_mission_sel.png");
    navtop_news_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news_sel.png");
    navtop_multimedia_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia_sel.png");
    navtop_participate_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate_sel.png");
    navtop_search_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search_sel.png");
    navtop_allmars_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allmars_sel.png");
    preloadFlag = true;
//start_countdown();
}
}
preloadImages();
// -->
</script>
<div align="center">
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
      <td style="position: relative;"><a href="" onmouseover="changeImages('nav_home', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home_sel.png');" onmouseout="changeImages('nav_home', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home.png');"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home.png" width="95" height="34" alt="Home" border="0" id="nav_home" style="_margin-top:-2px;"></a></td>
      <td>
        <style>
        .menu1321{
          z-index:90;
        }
        .menu1321 ul {
          padding:0; margin:0; list-style-type: none;
          z-index:100;
        }
        .menu1321 ul li ul {
          visibility:hidden;
          position:absolute;
          height:0;
          overflow:hidden;
          left:0px;
          top:29px;
        }
        .menu1321 ul li {
          float:left;
          position:relative;
          z-index:90;
        }
        .menu1321 ul li#on a {
          color: #ffffff;
        }
        .menu1321 ul li#on ul li a {
          color: #A1D0EC;
        }
        .menu1321 ul li#on ul li a:hover {
          color: #D0E8F6;
        }
        .menu1321 ul li.first2{
          color: #AEE3E3;
        }
        .menu1321 ul li.first2 a:hover {
          color: #D7F1F1;
        }
        .menu1321 ul li.navsection2 {
          color: #AEE3E3;
        }
        .menu1321 ul li.navsection2 a:hover {
          color: #D7F1F1;
        }
        .menu1321 ul li a, .menu1321 ul li a:visited {
          display:block;
          float:left;
          text-decoration:none;
          color: #A1D0EC;
          width:210px;
          background:transparent;
        }
        * html .menu1321 ul li a, .menu1321 ul li a:visited {
        }
        .menu1321 ul li {
        }
        .menu1321 ul li ul {
          background: url(http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/topnav_subitembg.png);
          behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);
          border-bottom: 1px solid #93afcb;
          border-left: 1px solid #93afcb;
          border-right: 1px solid #93afcb;
          padding-top: 7px;
          padding-bottom: 5px;
          left: 2;
          width:204px;
          _width:194px;
        }
        .menu1321 ul li ul li {
          font-weight: bold;
          border: 1px solid #93afcb;
          margin: 2px 5px 2px 5px;
          padding: 0 6px 0 6px;
          background-color: #122744;
          width:180px;
          _width:170px;
        }
        .menu1321 table {
          border-collapse:collapse; border:0; padding:0; position:absolute;
          left:0; top:0;
        }
        .menu1321 ul li:hover a,
        .menu1321 ul li a:hover{
          color: #ff903e;
          text-decoration:none;
          border:0;
        }
        .menu1321 ul li a:hover {
          position:relative; z-index:100;
        }
        .menu1321 ul li:hover ul,
        .menu1321 ul li a:hover ul {
          visibility:visible;
          height:auto;
          z-index:10;
          overflow:visible;
        }
        .menu1321 ul li:hover ul li a,
        .menu1321 ul li a:hover ul li a{
          display:block;
          background:transparent;
          color: #A1D0EC;
          line-height:15px;
          padding:2px 0 2px 0;
          height:auto;
          text-decoration:none;
          width:180px;
          _width:170px;
        }
        * html .menu1321 ul li a:hover ul li a {
        }
        .menu1321 ul li:hover ul li a:hover,
        .menu1321 ul li a:hover ul li a:hover {
          color: #ff903e;
          text-decoration: none;
          border:0;
        }
        </style>
        <div class="menu1321"><ul><li><a href="http://mars.jpl.nasa.gov/programmissions/" target="_blank"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions.png" width="210" height="34" alt="Program Missions" title="Program Missions" border="0" id="nav_programmissions" onmouseover="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions_sel.png');" onmouseout="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
          <!--[if lte IE 6]><table><tr><td><![endif]-->
          <ul onmouseover="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions_sel.png');" onmouseout="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions.png');">
            <li><a href="http://mars.jpl.nasa.gov/programmissions/overview/" target="_blank" title="Overview">
              Overview
            </a></li>
            <li><a href="http://mars.jpl.nasa.gov/programmissions/science/" target="_blank" title="Science">
              Science
            </a></li>
            <li><a href="http://mars.jpl.nasa.gov/programmissions/technology/" target="_blank" title="Technology">
              Technology
            </a></li>
            <li><a href="http://mars.jpl.nasa.gov/programmissions/missions/" target="_blank" title="Missions">
              Missions
            </a></li>
            <li><a href="http://mars.jpl.nasa.gov/programmissions/people/" target="_blank" title="People">
              People
            </a></li>
          </ul>
          <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li> </ul>
      </div>
    </td>
    <td>
      <style>
      .menu1322{
        z-index:90;
      }
      .menu1322 ul {
        padding:0; margin:0; list-style-type: none;
        z-index:100;
      }
      .menu1322 ul li ul {
        visibility:hidden;
        position:absolute;
        height:0;
        overflow:hidden;
        left:0px;
        top:27px;
      }
      .menu1322 ul li {
        float:left;
        position:relative;
        z-index:90;
      }
      .menu1322 ul li#on a {
        color: #ffffff;
      }
      .menu1322 ul li#on ul li a {
        color: #A1D0EC;
      }
      .menu1322 ul li#on ul li a:hover {
        color: #D0E8F6;
      }
      .menu1322 ul li.first2{
        color: #AEE3E3;
      }
      .menu1322 ul li.first2 a:hover {
        color: #D7F1F1;
      }
      .menu1322 ul li.navsection2 {
        color: #AEE3E3;
      }
      .menu1322 ul li.navsection2 a:hover {
        color: #D7F1F1;
      }
      .menu1322 ul li a, .menu1322 ul li a:visited {
        display:block;
        float:left;
        text-decoration:none;
        color: #A1D0EC;
        width:176px;
        background:transparent;
      }
      * html .menu1322 ul li a, .menu1322 ul li a:visited {
      }
      .menu1322 ul li {
      }
      .menu1322 ul li ul {
        background: url(http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/topnav_subitembg.png);
        behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);
        border-bottom: 1px solid #93afcb;
        border-left: 1px solid #93afcb;
        border-right: 1px solid #93afcb;
        padding-top: 7px;
        padding-bottom: 5px;
        left: 3;
        width:170px;
        _width:160px;
      }
      .menu1322 ul li ul li {
        font-weight: bold;
        border: 1px solid #93afcb;
        margin: 2px 5px 2px 5px;
        padding: 0 6px 0 6px;
        background-color: #122744;
        width:146px;
        _width:136px;
      }
      .menu1322 table {
        border-collapse:collapse; border:0; padding:0; position:absolute;
        left:0; top:0;
      }
      .menu1322 ul li:hover a,
      .menu1322 ul li a:hover{
        color: #ff903e;
        text-decoration:none;
        border:0;
      }
      .menu1322 ul li a:hover {
        position:relative; z-index:100;
      }
      .menu1322 ul li:hover ul,
      .menu1322 ul li a:hover ul {
        visibility:visible;
        height:auto;
        z-index:10;
        overflow:visible;
      }
      .menu1322 ul li:hover ul li a,
      .menu1322 ul li a:hover ul li a{
        display:block;
        background:transparent;
        color: #A1D0EC;
        line-height:15px;
        padding:2px 0 2px 0;
        height:auto;
        text-decoration:none;
        width:146px;
        _width:136px;
      }
      * html .menu1322 ul li a:hover ul li a {
      }
      .menu1322 ul li:hover ul li a:hover,
      .menu1322 ul li a:hover ul li a:hover {
        color: #ff903e;
        text-decoration: none;
        border:0;
      }
      </style>
      <div class="menu1322"><ul><li><a href="http://mars.jpl.nasa.gov/allaboutmars" target="_blank"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars.png" width="176" height="34" alt="All About Mars" title="All About Mars" border="0" id="nav_allaboutmars" onmouseover="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars_sel.png');" onmouseout="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul onmouseover="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars_sel.png');" onmouseout="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars.png');">
          <li><a href="http://mars.jpl.nasa.gov/allaboutmars/extreme/" target="_blank" title="Mars: Extreme Planet">
            Mars: Extreme Planet
          </a></li>
          <li><a href="http://mars.jpl.nasa.gov/allaboutmars//mystique/" target="_blank" title="Pop Culture Mars">
            Pop Culture Mars
          </a></li>
          <li><a href="http://mars.jpl.nasa.gov/allaboutmars/nightsky/" target="_blank" title="Mars in the Night Sky">
            Mars in the Night Sky
          </a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li> </ul>
    </div>
  </td>
  <td>
    <style>
    .menu1323{
      z-index:90;
    }
    .menu1323 ul {
      padding:0; margin:0; list-style-type: none;
      z-index:100;
    }
    .menu1323 ul li ul {
      visibility:hidden;
      position:absolute;
      height:0;
      overflow:hidden;
      left:0px;
      top:26px;
    }
    .menu1323 ul li {
      float:left;
      position:relative;
      z-index:90;
    }
    .menu1323 ul li#on a {
      color: #ffffff;
    }
    .menu1323 ul li#on ul li a {
      color: #A1D0EC;
    }
    .menu1323 ul li#on ul li a:hover {
      color: #D0E8F6;
    }
    .menu1323 ul li.first2{
      color: #AEE3E3;
    }
    .menu1323 ul li.first2 a:hover {
      color: #D7F1F1;
    }
    .menu1323 ul li.navsection2 {
      color: #AEE3E3;
    }
    .menu1323 ul li.navsection2 a:hover {
      color: #D7F1F1;
    }
    .menu1323 ul li a, .menu1323 ul li a:visited {
      display:block;
      float:left;
      text-decoration:none;
      color: #A1D0EC;
      width:93px;
      background:transparent;
    }
    * html .menu1323 ul li a, .menu1323 ul li a:visited {
    }
    .menu1323 ul li {
    }
    .menu1323 ul li ul {
      background: url(http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/topnav_subitembg.png);
      behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);
      border-bottom: 1px solid #93afcb;
      border-left: 1px solid #93afcb;
      border-right: 1px solid #93afcb;
      padding-top: 7px;
      padding-bottom: 5px;
      left: 1;
      width:89px;
      _width:79px;
    }
    .menu1323 ul li ul li {
      font-weight: bold;
      border: 1px solid #93afcb;
      margin: 2px 5px 2px 5px;
      padding: 0 6px 0 6px;
      background-color: #122744;
      width:65px;
      _width:55px;
    }
    .menu1323 table {
      border-collapse:collapse; border:0; padding:0; position:absolute;
      left:0; top:0;
    }
    .menu1323 ul li:hover a,
    .menu1323 ul li a:hover{
      color: #ff903e;
      text-decoration:none;
      border:0;
    }
    .menu1323 ul li a:hover {
      position:relative; z-index:100;
    }
    .menu1323 ul li:hover ul,
    .menu1323 ul li a:hover ul {
      visibility:visible;
      height:auto;
      z-index:10;
      overflow:visible;
    }
    .menu1323 ul li:hover ul li a,
    .menu1323 ul li a:hover ul li a{
      display:block;
      background:transparent;
      color: #A1D0EC;
      line-height:15px;
      padding:2px 0 2px 0;
      height:auto;
      text-decoration:none;
      width:65px;
      _width:55px;
    }
    * html .menu1323 ul li a:hover ul li a {
    }
    .menu1323 ul li:hover ul li a:hover,
    .menu1323 ul li a:hover ul li a:hover {
      color: #ff903e;
      text-decoration: none;
      border:0;
    }
    </style>
    <div class="menu1323"><ul><li><a href="http://mars.jpl.nasa.gov/news/"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news.png" width="93" height="34" alt="News" title="News" border="0" id="nav_news" onmouseover="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news_sel.png');" onmouseout="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul onmouseover="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news_sel.png');" onmouseout="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news.png');">
        <li><a href="http://mars.jpl.nasa.gov/news/whatsnew/" target="_blank" title="What's New">
          What's New
        </a></li>
        <li><a href="http://mars.jpl.nasa.gov/news/newsroom/" target="_blank"title="Newsroom">
          Newsroom
        </a></li>
        <li><a href="http://mars.jpl.nasa.gov/blogs/" target="_blank" title="Blogs: Martian Diaries">
          Blogs: Martian Diaries
        </a></li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li> </ul>
  </div>
</td>
<td>
  <style>
  .menu1324{
    z-index:90;
  }
  .menu1324 ul {
    padding:0; margin:0; list-style-type: none;
    z-index:100;
  }
  .menu1324 ul li ul {
    visibility:hidden;
    position:absolute;
    height:0;
    overflow:hidden;
    left:0px;
    top:26px;
  }
  .menu1324 ul li {
    float:left;
    position:relative;
    z-index:90;
  }
  .menu1324 ul li#on a {
    color: #ffffff;
  }
  .menu1324 ul li#on ul li a {
    color: #A1D0EC;
  }
  .menu1324 ul li#on ul li a:hover {
    color: #D0E8F6;
  }
  .menu1324 ul li.first2{
    color: #AEE3E3;
  }
  .menu1324 ul li.first2 a:hover {
    color: #D7F1F1;
  }
  .menu1324 ul li.navsection2 {
    color: #AEE3E3;
  }
  .menu1324 ul li.navsection2 a:hover {
    color: #D7F1F1;
  }
  .menu1324 ul li a, .menu1324 ul li a:visited {
    display:block;
    float:left;
    text-decoration:none;
    color: #A1D0EC;
    width:142px;
    background:transparent;
  }
  * html .menu1324 ul li a, .menu1324 ul li a:visited {
  }
  .menu1324 ul li {
  }
  .menu1324 ul li ul {
    background: url(http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/topnav_subitembg.png);
    behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);
    border-bottom: 1px solid #93afcb;
    border-left: 1px solid #93afcb;
    border-right: 1px solid #93afcb;
    padding-top: 7px;
    padding-bottom: 5px;
    left: 1;
    width:138px;
    _width:128px;
  }
  .menu1324 ul li ul li {
    font-weight: bold;
    border: 1px solid #93afcb;
    margin: 2px 5px 2px 5px;
    padding: 0 6px 0 6px;
    background-color: #122744;
    width:114px;
    _width:104px;
  }
  .menu1324 table {
    border-collapse:collapse; border:0; padding:0; position:absolute;
    left:0; top:0;
  }
  .menu1324 ul li:hover a,
  .menu1324 ul li a:hover{
    color: #ff903e;
    text-decoration:none;
    border:0;
  }
  .menu1324 ul li a:hover {
    position:relative; z-index:100;
  }
  .menu1324 ul li:hover ul,
  .menu1324 ul li a:hover ul {
    visibility:visible;
    height:auto;
    z-index:10;
    overflow:visible;
  }
  .menu1324 ul li:hover ul li a,
  .menu1324 ul li a:hover ul li a{
    display:block;
    background:transparent;
    color: #A1D0EC;
    line-height:15px;
    padding:2px 0 2px 0;
    height:auto;
    text-decoration:none;
    width:114px;
    _width:104px;
  }
  * html .menu1324 ul li a:hover ul li a {
  }
  .menu1324 ul li:hover ul li a:hover,
  .menu1324 ul li a:hover ul li a:hover {
    color: #ff903e;
    text-decoration: none;
    border:0;
  }
  </style>
  <div class="menu1324"><ul><li><a href="http://mars.jpl.nasa.gov/multimedia/" target="_blank" ><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia.png" width="142" height="34" alt="Multimedia" title="Multimedia" border="0" id="nav_multimedia" onmouseover="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia_sel.png');" onmouseout="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
    <ul onmouseover="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia_sel.png');" onmouseout="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia.png');">
      <li><a href="http://mars.jpl.nasa.gov/multimedia/images" target="_blank" title="Images">
        Images
      </a></li>
      <li><a href="http://mars.jpl.nasa.gov/multimedia/videos" target="_blank" title="Recent Videos">
        Recent Videos
      </a></li>
      <li><a href="http://mars.jpl.nasa.gov/multimedia/videoarchive" target="_blank" title="Video Archive">
        Video Archive
      </a></li>
      <li><a href="http://mars.jpl.nasa.gov/mars3d/" target="_blank" title="Mars 3D Images">
        Mars 3D Images
      </a></li>
    </ul>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
  </li> </ul>
</div>
</td>
<td>
  <style>
  .menu1325{
    z-index:90;
  }
  .menu1325 ul {
    padding:0; margin:0; list-style-type: none;
    z-index:100;
  }
  .menu1325 ul li ul {
    visibility:hidden;
    position:absolute;
    height:0;
    overflow:hidden;
    left:0px;
    top:26px;
  }
  .menu1325 ul li {
    float:left;
    position:relative;
    z-index:90;
  }
  .menu1325 ul li#on a {
    color: #ffffff;
  }
  .menu1325 ul li#on ul li a {
    color: #A1D0EC;
  }
  .menu1325 ul li#on ul li a:hover {
    color: #D0E8F6;
  }
  .menu1325 ul li.first2{
    color: #AEE3E3;
  }
  .menu1325 ul li.first2 a:hover {
    color: #D7F1F1;
  }
  .menu1325 ul li.navsection2 {
    color: #AEE3E3;
  }
  .menu1325 ul li.navsection2 a:hover {
    color: #D7F1F1;
  }
  .menu1325 ul li a, .menu1325 ul li a:visited {
    display:block;
    float:left;
    text-decoration:none;
    color: #A1D0EC;
    width:142px;
    background:transparent;
  }
  * html .menu1325 ul li a, .menu1325 ul li a:visited {
  }
  .menu1325 ul li {
  }
  .menu1325 ul li ul {
    background: url(http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/topnav_subitembg.png);
    behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);
    border-bottom: 1px solid #93afcb;
    border-left: 1px solid #93afcb;
    border-right: 1px solid #93afcb;
    padding-top: 7px;
    padding-bottom: 5px;
    left: 1;
    width:154px;
    _width:144px;
  }
  .menu1325 ul li ul li {
    font-weight: bold;
    border: 1px solid #93afcb;
    margin: 2px 5px 2px 5px;
    padding: 0 6px 0 6px;
    background-color: #122744;
    width:130px;
    _width:120px;
  }
  .menu1325 table {
    border-collapse:collapse; border:0; padding:0; position:absolute;
    left:0; top:0;
  }
  .menu1325 ul li:hover a,
  .menu1325 ul li a:hover{
    color: #ff903e;
    text-decoration:none;
    border:0;
  }
  .menu1325 ul li a:hover {
    position:relative; z-index:100;
  }
  .menu1325 ul li:hover ul,
  .menu1325 ul li a:hover ul {
    visibility:visible;
    height:auto;
    z-index:10;
    overflow:visible;
  }
  .menu1325 ul li:hover ul li a,
  .menu1325 ul li a:hover ul li a{
    display:block;
    background:transparent;
    color: #A1D0EC;
    line-height:15px;
    padding:2px 0 2px 0;
    height:auto;
    text-decoration:none;
    width:130px;
    _width:120px;
  }
  * html .menu1325 ul li a:hover ul li a {
  }
  .menu1325 ul li:hover ul li a:hover,
  .menu1325 ul li a:hover ul li a:hover {
    color: #ff903e;
    text-decoration: none;
    border:0;
  }
  </style>
  <div class="menu1325"><ul><li><a href="http://mars.jpl.nasa.gov/participate/" target="_blank"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate.png" width="142" height="34" alt="navtop_participate.png" title="navtop_participate.png" border="0" id="nav_participate" onmouseover="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate_sel.png');" onmouseout="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
    <ul onmouseover="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate_sel.png');" onmouseout="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate.png');">
      <li><a href="http://mars.jpl.nasa.gov/participate/" target="_blank" title="Mars for Everyone">
        Mars for Everyone
      </a></li>
      <li><a href="http://mars.jpl.nasa.gov/participate/marsforeducators/" target="_blank" title="Mars for Educators">
        Mars for Educators
      </a></li>
      <li><a href="http://mars.jpl.nasa.gov/participate/students/" target="_blank" title="Mars for Students">
        Mars for Students
      </a></li>
      <li><a href="http://mars.jpl.nasa.gov/participate/funzone/" target="_blank" title="Mars for Kids">
        Mars for Kids
      </a></li>
      <li><a href="http://mars.jpl.nasa.gov/participate/events/" target="_blank" title="Events">
        Events
      </a></li>
    </ul>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
  </li> </ul>
</div>
</td>
<td>
  <style>
/* ================================================================
This copyright notice must be untouched at all times.
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/example_flyout.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any
way to fit your requirements.
=================================================================== */
/* common styling */
.menu1151{
  z-index:90;
}
.menu1151 ul {
  padding:0; margin:0; list-style-type: none;
  z-index:100;
}
.menu1151 ul li ul {
  visibility:hidden;
  position:absolute;
  height:0;
  overflow:hidden;
  left:0px;
  top:30px;
}
.menu1151 ul li {
  float:left;
  position:relative;
  z-index:90;
}
.menu1151 ul li a, .menu1151 ul li a:visited {
  display:block;
  float:left;
  text-decoration:none;
  color: #A1D0EC;
  width:89px;
}
* html .menu1151 ul li a, .menu1151 ul li a:visited {
}
.menu1151 ul li {
}
.menu1151 ul li ul {
  background: url(http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/topnav_subitembg.png);
  behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);
  border-bottom: 1px solid #c07541;
  border-left: 1px solid #c07541;
  border-right: 1px solid #c07541;
  padding-top: 8px;
  padding-bottom: 5px;
  left: -67px;
  /*left: 2;*/
  width:154px;
}
.menu1151 ul li ul li {
  font-weight: bold;
  margin: 2px 5px 2px 5px;
  padding: 0 6px 0 6px;
  width:130px;
  height:25px;
  *height:30px;
  _height:0px;
}
.menu1151 table {
  border-collapse:collapse; border:0; padding:0; position:absolute; left:0; top:0;
}
.menu1151 ul li:hover a,
.menu1151 ul li a:hover{
  color: #ffffff;
  text-decoration:none;
  border:0;
}
.menu1151 ul li a:hover {
  position:relative; z-index:100;
}
.menu1151 ul li:hover ul,
.menu1151 ul li a:hover ul {
  visibility:visible;
  height:auto;
  z-index:10;
  overflow:visible;
}
.menu1151 ul li:hover ul li a,
.menu1151 ul li a:hover ul li a{
  display:block;
  background:transparent;
  color: #cf7e5b;
  /*width:132px;*/
  line-height:15px;
  padding:2px 0 2px 0;
  height:auto;
  text-decoration:none;
  width:130px;
  /*text-indent: 20px;*/
}
* html .menu1151 ul li a:hover ul li a {
  /*width:220px;*/
}
.menu1151 ul li:hover ul li a:hover,
.menu1151 ul li a:hover ul li a:hover {
  color: #ff903e;
  text-decoration: none;
  border:0;
}
.searchbox {
  width: 110px;
  height: 20px;
  margin-right:10px;
  border: 1px solid #cf966f;
}
.searchbutton {
  position:absolute;
  top: 4;
  left: 125;
  *position:absolute;
  *top: 3;
  *left: 1;
  *margin-left: -5px;
  *margin-top: 5px;
  _position:absolute;
  _top: 4;
  _left: 127;
  behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);
}
</style>
<div class="menu1151"><ul><li><a href="http://mars.jpl.nasa.gov/search/" target="_blank" onclick="return false;"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search.png" width="89" height="34" alt="navtop_search.png" title="Search" border="0" id="nav_search" onmouseover="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search_sel.png');" onmouseout="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
  <!--[if lte IE 6]><table><tr><td><![endif]-->
  <ul onmouseover="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search_sel.png');" onmouseout="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search.png');"><form name="theSearchForm" action="http://mars.jpl.nasa.gov/search/" target="_blank" method="get" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;"><li><input name="searchbox" value="SEARCH" type="text" class="searchbox" autocomplete="off" onfocus="if(this.value=='SEARCH'){this.value='';}" onblur="if(this.value==''){this.value='SEARCH';}"><div class="searchbutton"><input type="image" src="assets/searchbutton.png" label="Click here to submit search request" alt="Click here to submit search request" style="behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);"></div></li></form></ul>
  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li> </ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div id="contentBox_contentPage">
  <div id="breadcrumbs"><a href='#'>Like A Rock</a>&nbsp;&gt;&nbsp;<a href='#'>Title of the page</a></div>
  <table border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td class="pageTitleBox">Like-A-Rock</td>
    </tr>
    <tr>
      <td class="pageContent"><div id="MidNavContainer">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:7px;">
          <tr>
           <div id = "user_nav">
            <td width="100%" align="left" style="padding-left: 0px; padding-right: 0px; padding-bottom: 4px; color: #92543F; font-weight: bold; ">
              <a href="<%=root_path%>" class="middlenav">Home</a> <span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>
              <% if admin_signed_in? %>
              <a href="<%=admins_path%>" class="middlenav">Signed in as Administrator</a> <span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>
              <a href="<%=destroy_admin_session_path%>" class="middlenav">Sign Out</a><a href="#" class="middlenav"><span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>
              <% elsif user_signed_in? %>
              <a class="middlenav">Signed in as <%= current_user.name %> </a> <span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>
              <a href="<%=destroy_user_session_path%>" class="middlenav">Sign Out</a><a href="#" class="middlenav"><span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>
              <% else %>
              <a class="middlenav">Signed in as Guest</a> <span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>
              <a href="<%=new_user_session_path%>" class="middlenav">Sign In</a> <span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>
              <a href="<%=new_user_registration_path%>" class="middlenav">Sign Up</a><a class="middlenav"><span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span>	
              <% end %>
              <a href="<%=albums_path%>" class="middlenav">Albums By Day</a> <span style="margin-left:5px;margin-right:5px;font-size:15px;font-weight:normal;">|</span></a></td>
            </div>
          </tr>
        </table>
      </div>
    </tr>
  </table>
  <div id ="Page-Content" style="background-color:white">
	<script type="text/javascript" src="/assets/ContentFlowAddOn_white.js"></script>
    <%= yield %>
    <div style="margin-top:10px !important;">
      <div id="twocolumnwrap">
        <div class="columntype_main"><br>
          <div style="margin-top:14px;">
            <div id="newsList_LatestArticle" style="">
              <div class="newsLatestInner">


                <br clear="all">
              </div>
            </div>
            <br clear="all">
            <table cellpadding="0" cellspacing="0" border="0" width="640">
              <tr>
                <td bgcolor="#c5c6c7"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/spacer.gif" width="1" height="1" alt=""></td>
              </tr>
              <tr>
                <td height="10px;"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/spacer.gif" width="1" height="1" alt=""></td>
              </tr>
              <tr>
                <td><div class="newsList_Article">
                  <div class="articleInner">
                    <div class="left">
                      <div class="type"> class .newsList_Article .type{ Press Release </div>
                      <div class="image">
                        <div class="imageGrayBorder"><a href="#"><img src="http://mars.jpl.nasa.gov/images/McCloskey-1pia16729main-thm.jpg" width="160" height="120" border="0" hspace="0" vspace="0" align="absmiddle" alt="read the article 'NASA Rover Confirms First Drilled Mars Rock Sample'"></a></div>
                      </div>
                    </div>
                    <div class="right">
                      <div class="date">class .newsList_Article .date{ February 20, 2013</div>
                      <div class="source">Source: Jet Propulsion Laboratory</div>
                      <br clear="all">
                      <div class="title"><a href="#">class .newsList_Article .title{
                        NASA Rover Confirms First Drilled Mars Rock Sample</a></div>
                        <div class="blurb"> class .newsList_Article .blurb{ NASA's Mars rover Curiosity has relayed new images that confirm it has successfully obtained the first sample ever collected from the interior of a rock on another planet.<br>
                          <a href="#" style="color:#b25524;text-decoration:none;font-size:14px;"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/newsList_more_latest_smbl.gif" width="3" height="10" alt="read the article 'NASA Rover Confirms First Drilled Mars Rock Sample'" border="0" hspace="0" vspace="0" align="absmiddle">&nbsp;Read More</a> </div>
                        </div>
                      </div>
                    </div></td>
                  </tr>
                  <tr>
                    <td height="20px;"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/spacer.gif" width="1" height="1" alt=""></td>
                  </tr>
                  <tr>
                    <td bgcolor="#c5c6c7"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/spacer.gif" width="1" height="1" alt=""></td>
                  </tr>
                  <tr>
                    <td height="10px;"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/spacer.gif" width="1" height="1" alt=""></td>
                  </tr>
                </table>
              </div>
            </div>
            <br>
            <div class="columntype_sidebar">
              <div class="sidebarheader">Side Bar Title</div>
              <br>
              < Mars Mobile >
              <div style="padding-right: 20px; float: Left;" >
                <div id="contentImage">
                  <div class="contentImageInner">
                    <div class="imageGrayBorder"><a href="#" class="captionText"><img src="http://mars.jpl.nasa.gov/images/mars_mobile_info-ci.jpg" width="250" alt="Mars on the Go!" border="0" hspace="0" vspace="0" align='absmiddle'></a></div>
                    <div class="imageTitle">class div.columntype_sidebar #contentImage .imageTitle{ Mars on the Go!</div>
                    <div class="imageCaption">class div.columntype_sidebar #contentImage .imageCaption{ Tune in with Mars on the go. <br>
                      Download the Be A Martian App, on your smart phones!<br>
                      <a style="color: rgb(178, 85, 36); text-decoration: none; font-size: 10px;" href="#"><//Read More Link >
                        &rsaquo; Learn more</a></div>
                        <a href="../../images/mars_mobile_info.jpg">
                        </a></div>
                      </div>
                    </div>
                    < //Mars Mobile >
                    <br class="both">
                  </div>
                  <br clear="both">
                </div>
                <close twocolumnwrap>
                </P>
              </div>
              <br clear="all">
            </tr>
          </table>

        </br>
      </br>
    </br>
  </br>
</br>
</div>
<div id="footerBG" bgcolor = "#FFFFFF">
  <div id="usagov"><a href="#"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footer_usagov.png" width="124" height="38" alt="USA.gov" border="0"></a></div>
  <div class="bottomnav"> <a href="#" class="bottomnavlinkoff">PRIVACY</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp; <a href="#" class="bottomnavlinkoff">FAQ</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp; <a href="#" class="bottomnavlinkoff" >SITEMAP</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp; <a href="#" class="bottomnavlinkoff" >FEEDBACK</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp; <a href="#" class="bottomnavlinkoff">IMAGE POLICY</a> </div>
</div>
</div>
</div>
</div>
</div>
</body>

<!-- cgi.server_name: mars.jpl.nasa.gov @ {ts '2013-02-21 16:35:03'} -->










</html>
